#navbar {
    background-color: rgba(255,255,255, .6);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centalgn {
    text-align: center;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

#login {

    background-color: rgba(255,255,255, 0.75);
    border-radius: 20%;
    margin-top: 150px;
    padding: 50px;
    width: 200px;
} 
body{
    background: url("bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size:250vh ;
}


@media only screen and (max-device-width: 600px) {
    #login {
        font-size: 250%;
        background-color: rgba(246, 242, 242, 0.459);
        border-radius: 20%;
        margin-top: 500px;
        padding: 80px;
        width: 550px;
        height: 700px;
    }

    .center {
        font-size: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #navbar {
        background-color: rgba(255,255,255, .6);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 5%;
        font-size: 100%;
    }

    nav ul {
        margin: 0px;
        padding: 5px 0px 5px 30px;
    }
    
    nav li {
        display: inline;
        margin-right: 20px;
        font-size: 300%;
    }
  }
